<!DOCTYPE html>
<html>
<head>
    <title>Edit Vehicle</title>
</head>
<body>
    <h1>Edit Vehicle</h1>
    <form method="POST">
        Name: <input type="text" name="name" value="{{ vehicles.name }}" required><br>
        Category: <input type="text" name="category" value="{{ vehicles.category }}" required><br>
        Serial: <input type="text" name="serial" value="{{ vehicles.serial }}" required><br>
        Purchase Date: <input type="text" name="purchase_date" value="{{ vehicles.purchase_date }}"><br>
        Cost: <input type="number" step="0.01" name="cost" value="{{ vehicles.cost }}"><br>
        <input type="submit" value="Update vehicles">
    </form>
    <a href="{{ url_for('index') }}">Back to list</a>
</body>
</html>
